@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Hamburger Nav menu */
 .hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(at 50% 100%, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  background-size: cover;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
/* ***** */


/* This section below is the individual cards and effects in the about us section */
.flip-card {
  background-color: transparent;
  width: 450px;
  height: 300px;
  perspective: 1000px;
}

@media screen and (max-width: 768px) {
  .flip-card {
    width: 350px;
    height: 330px;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  backface-visibility: hidden;
  border-radius: 20px;
}

.flip-card-front {
  background-color: #e9ded8;
  background: conic-gradient(at 100% 0%, rgb(251, 146, 60), rgb(245, 245, 245), rgb(251, 146, 60));
  border: 4px solid #304362;
}

.pfp {
  border-radius: 35em;
  fill: #304362;
}

.name {
  margin-top: 15px;
  font-size: 27px;
  font-weight: bold;
}

.flip-card-back {
  background-color: #cfd8dc;
  /* background: radial-gradient(at 50% 100%, rgb(255, 255, 255), rgb(197, 197, 197)); */
  border: 4px solid #304362;
  transform: rotateY(180deg);
  padding: 11px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* ***** */
